#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 30%;
    height: 30%;
    background-color: rgba(0, 0, 0, 0.5); /* Hintergrundfarbe des Overlays */
    display: none; /* Anfangs unsichtbar */
    justify-content: center;
    align-items: center;
}

#popup {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#closeBtn {
    display: block;
    margin-top: 20px;
}
